{% extends 'base.twig' %}
{% block title %}Cart{% endblock %}
{% set this_page = '/cart' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Your shopping cart: </h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price (VND)</th>
                        <th>Your price (VND)</th>
                        <th>Quantity</th>
                        <th>Sum</th>
                        <th></th>
                    </tr>
                    </thead>
                    {% set total = 0 %}
                    {% for cartItem in cartItems %}
                        {% set your_price = cartItem.item.price %}
                        {% if session.vip_status == 'yes' %}
                            {% set your_price = cartItem.item.price * 0.7 %}
                        {% endif %}
                        {% set sum = cartItem.quantity * your_price %}
                        {% set total = total + sum %}
                        <tr>
                            <th class="align-middle" scope="row">{{ cartItem.item.name }}</th>
                            <td class="align-middle">{{ cartItem.item.price|number_format(0,',','.') }}</td>
                            <td class="align-middle">{{ your_price|number_format(0,',','.') }}</td>
                            <td class="align-middle">{{ cartItem.quantity }}</td>
                            <td class="align-middle">{{ sum|number_format(0,',','.') }}VND</td>
                            <td class="align-middle"><a class="btn btn-warning"
                                                        href="/cart/{{ cartItem.item.id }}/remove">Remove</a></td>
                        </tr>
                    {% endfor %}
                    <h2>Total: {{ total|number_format(0,',','.') }}VND</h2>
                </table>
                <form action="/cart/checkout" style="margin-top: 10px">
                    <button type="submit" class="btn btn-primary">Check out!</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}