{% extends 'base.twig' %}
{% block title %}Cart{% endblock %}
{% set this_page = '/cart' %}
{% block body %}
    <h2>Your shopping cart: </h2>
    <table align="center" cellpadding="10" cellspacing="10" border="1">
        <thead>
            <td>Item</td>
            <td>Price</td>
            <td>Your price</td>
            <td>Quantity</td>
            <td>Sum</td>
            <td></td>
        </thead>
        {% set total = 0 %}
        {% for cartItem in cartItems %}
            {% set your_price = cartItem.item.price %}
            {% if session.vip_status == 'yes' %}
                {% set your_price = cartItem.item.price * 0.7 %}
            {% endif %}
            {% set sum = cartItem.quantity * your_price %}
            {% set total = total + sum %}
            <tr>
                <td>{{ cartItem.item.name }}</td>
                <td>{{ cartItem.item.price }}</td>
                <td>{{ your_price }}</td>
                <td>{{ cartItem.quantity }}</td>
                <td>{{ sum }}VND</td>
                <td><a href="/cart/{{ cartItem.item.id }}/remove">Remove</a></td>
            </tr>
        {% endfor %}
        <h2>Total: {{ total }}VND</h2>
    </table>
    <form action="/cart/checkout">
        <button type="submit" class="btn btn-primary">Check out!</button>
    </form>
{% endblock %}