{% extends 'base.twig' %}
{% block title %}Order list{% endblock %}
{% set this_page = '/orders' %}
{% block body %}
    <h2>Orders history: </h2>
    <table align="center" cellpadding="10" cellspacing="10" border="1">
        <thead>
        <td>Id</td>
        <td>Total</td>
        <td>Description</td>
        <td>Time</td>
        <td>Details</td>
        </thead>

        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.total }}</td>
                <td>{{ order.description }}</td>
                <td>{{ order.timestamp|date('d-m-Y') }}</td>
                <td><a href="/orders/{{ order.id }}/index">Details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}