{% extends 'base.twig' %}
{% block title %}Order list{% endblock %}
{% set this_page = '/orders' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 table-responsive-md">
                <h2>Orders history: </h2>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Total (VND)</th>
                        <th>Description</th>
                        <th>Time</th>
                        <th>Details</th>
                    </tr>

                    </thead>

                    {% for order in orders %}
                        <tr>
                            <th class="align-middle" scope="row">{{ order.id }}</th>
                            <td class="align-middle">{{ order.total|number_format(0,',','.') }}VND</td>
                            <td class="align-middle">{{ order.description }}</td>
                            <td class="align-middle">{{ order.timestamp|date('d-m-Y') }}</td>
                            <td class="align-middle"><a href="/orders/{{ order.id }}/index">Details</a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}