{% extends 'base.twig' %}
{% block title %}Order number {{ order.id }}{% endblock %}
{% block body %}
    <h2>Order #{{ order.id }} details: </h2>
    <table align="center" cellpadding="10" cellspacing="10" border="1">
        <thead>
        <td>Item</td>
        <td>Price</td>
        <td>Your price</td>
        <td>Quantity</td>
        <td>Sum</td>
        </thead>
        {% set total = 0 %}
        {% for orderItem in items %}
            {% set sum = orderItem.quantity * orderItem.appliedprice %}
            <tr>
                <td>{{ orderItem.item.name }}</td>
                <td>{{ orderItem.baseprice }}</td>
                <td>{{ orderItem.appliedprice }}</td>
                <td>{{ orderItem.quantity }}</td>
                <td>{{ sum }}VND</td>
            </tr>
        {% endfor %}
        <h2>Total: {{ order.total }}VND</h2>
    </table>

{% endblock %}