{% extends "base.twig" %}

{% block title %} Items {% endblock %}
{% set this_page = '/items' %}
{% block body %}

    <h2>Item list:</h2>
    <table align="center" cellpadding="10" cellspacing="10" border="1">
        <thead>
            <td></td>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>In stock</td>
            <td>Price</td>
            <td>Details</td>
            {{ session.user_id?'<td></td>':'' }}
        </thead>
        {% for item in items %}
            {% if item.availablequantity != 0 %}
            <tr>
                <td>
                    <div class="item-image" style="height: 80px;width: 80px">
                        <img src="{{ item.imagepath }}" style="max-height: 100%;max-width: 100%">
                    </div>
                </td>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.availablequantity }}</td>
                <td>{{ item.price }}</td>
                <td><a href="/items/{{ item.id }}">Details</a></td>
                {% if session.user_id %}
                    <td><a href="/cart/{{ item.id }}/add">Add to cart</a></td>
                {% endif %}

                {% if session.is_admin %}
                    <td><a href="/admin/items/{{ item.id }}/edit">Edit</a></td>
                    <td><a href="/admin/items/{{ item.id }}/remove">Remove</a></td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </table>

{% endblock %}