{% extends "base.twig" %}
{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}
    {% if item is not null %}
<h2>{{ item.name }}</h2>
<ul>
    <li>Description: {{ item.description }}</li>
    <li>In stock (unit): {{ item.availablequantity }}</li>
    <li>Price: {{ item.price }}</li>
</ul>
    {% else %}
    <h2>Can't find item with id {{ route_params.id }}</h2>

    {% endif %}

{% endblock %}