{% extends "base.twig" %}
{% block title %}
{{ item.name }}
{% endblock %}

{% block body %}
    {% if item is not null %}
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ item.imagepath }}" style="max-width: 100%;max-height: 100%">
                </div>
                <div class="col-md-8">
                    <h2>{{ item.name }}</h2>
                    <ul style="list-style: none">
                        <li>Description: {{ item.description }}</li>
                        <li>In stock (unit): {{ item.availablequantity }}</li>
                        <li>Price: {{ item.price }}VND</li>
                    </ul>
                    <form action="/cart/{{ item.id }}/add"><button type="submit" class="btn btn-primary">Add to cart</button></form>
                    {% if session.is_admin %}
                        <form action="/admin/items/{{ item.id }}/remove"><button type="submit" class="btn btn-primary">Remove</button></form>
                        <form action="/admin/items/{{ item.id }}/edit"><button type="submit" class="btn btn-primary">Edit</button></form>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
    <h2>Can't find item with id {{ route_params.id }}</h2>

    {% endif %}
<style>
    form{
        display: inline-block;
    }
</style>
{% endblock %}