{% extends "base.twig" %}

{% block title %} Items {% endblock %}

{% block body %}

    <h2>Item list:</h2>
    <table align="center" cellpadding="10" cellspacing="10" border="1">
        <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Description</td>
            <td>In stock</td>
            <td>Price</td>
            <td>Details</td>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.availablequantity }}</td>
                <td>{{ item.price }}</td>
                <td><a href="/items/{{ item.id }}">Details</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}