{% extends 'base.twig' %}
{% block title %}Register{% endblock %}
{% set this_page = '/register' %}
{% block body %}
<div class="container">
    <h2>Sign Up</h2>
    <p>Please fill this form to create an account.</p>
    <form action="/register/create" method="post">
    <div class="form-group ">
        <label>Username</label>
        <input type="text" name="username" class="form-control {{ error.username_err? 'is-invalid':'' }}" value="{{ username }}">
        <span class="help-block">{{ error.username_err }}</span>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control {{ error.password_err? 'is-invalid':'' }}" value="">
        <span class="help-block">{{ error.password_err }}</span>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" name="confirm_password" class="form-control {{ error.confirm_password_err? 'is-invalid':'' }}" value="">
        <span class="help-block">{{ error.confirm_password_err }}</span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-default" value="Reset">
    </div>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
    </form>
</div>

{% endblock %}