{% extends 'base.twig' %}
{% block title %}Details for {{ user.username }}{% endblock %}
{% set this_page = '/profile' %}
{% block body %}
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-6">
                <img style="max-height: 200px" src="{{ user.imagepath?user.imagepath:'/img/users/no-image.jpg' }}">
            </div>
            <div class="col-md-6">
                <span class="text-center"><h2>{{ user.fullname?user.fullname:user.username }}</h2></span>
                <span class="text-center"><h2>{{ user.email }}</h2></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form action="/profile/edit" method="post" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationServer01">Full name</label>
                            <input type="text" class="form-control" id="validationServer01" name="fullname" value="{{ post.fullname }}" placeholder="Full name">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationServerUsername">Email</label>
                            <div class="input-group">
                                <input type="email" class="form-control" id="validationServerUsername" placeholder="Email" aria-describedby="inputGroupPrepend3" value="{{ post.email }}" name="email">
                                <div class="invalid-feedback">
                                    Please choose an email.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                                <label for="image">Change image:</label>
                                <input type="file" id="image" name="image" aria-describedby="imageHelp" class="form-control">
                                <small id="imageHelp" class="form-text text-muted">{{ error?error:'' }}</small>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}