{% extends 'base.twig' %}
{% block title %}Transfer / Add funds{% endblock %}
{% set this_page = '/transfer' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="form-content">
                    <h2>Transfer funds</h2>
                    <form action="/transfer/transfer" method="post">
                        <div class="form-group">
                            <label for="recipient">Recipient:</label>
                            <input type="text" id="recipient" name="recipient"
                                   class="form-control {{ error.recipient_err? 'is-invalid':'' }}"
                                   value="{{ recipient }}" required>
                            <span class="help-block">{{ error.recipient_err }}</span>
                        </div>
                        <div class="form-group">
                            <label for="amount">Amount:</label>
                            <input
                                    type="number"
                                    id="amount"
                                    name="amount"
                                    class="form-control {{ error.amount_err? 'is-invalid':'' }}"
                                    min="0"
                                    max="{{ session.available_funds }}"
                                    required
                            >
                            <span class="help-block">{{ error.amount_err }}</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Transfer">
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-content">
                    <h2>Add funds</h2>
                    <form action="/transfer/add-funds" method="post">
                        <div class="form-group">
                            <label for="provider">Mobile provider:</label>
                            <select class="custom-select" id="provider" name="provider" required>
                                {# <option selected disabled>Select a provider</option> #}
                                <option value="1" selected>Mobifone</option>
                                <option value="2">Viettel</option>
                                <option value="3">Vinaphone</option>
                            </select>
                            <span class="help-block">{{ error.provider_err }}</span>
                        </div>
                        <div class="form-group">
                            <label for="card_id">Card id:</label>
                            <input type="text" id="card_id" name="card_id" pattern="\d\d\d\d\d\d\d\d\d\d\d\d"
                                   class="form-control {{ error.card_id_err? 'is-invalid':'' }}" required>
                            <span class="help-block">{{ error.card_id_err }}</span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Add funds">
                        </div>
                    </form>
                </div>

            </div>
            <div class="col-md-4">
                <div class="form-content">
                    <h2>Get VIP</h2>
                    <form action="/transfer/get-vip" method="post">
                        <div class="form-group" style="text-align: left">
                            <label style="text-align: center">Get VIP status for:</label>
                            <div class="form-check">
                                <input class="form-check-input" name="vip-month" type="radio" value="1"
                                       id="vip-1" {{ session.available_funds < 100000?'disabled':'' }}>
                                <label class="form-check-label" for="vip-1">
                                    1 month: 100.000VND
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="vip-month" type="radio" value="6"
                                       id="vip-6" {{ session.available_funds < 550000?'disabled':'' }}>
                                <label class="form-check-label" for="vip-6">
                                    6 month: 550.000VND
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" name="vip-month" type="radio" value="12"
                                       id="vip-12" {{ session.available_funds < 1000000?'disabled':'' }}>
                                <label class="form-check-label" for="vip-12">
                                    12 month: 1.000.000VND
                                </label>
                            </div>
                            <span class="help-block">{{ error.get_vip_err }}</span>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Get VIP NOW!">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Transaction history:</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Source</th>
                        <th scope="col">Destination</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Timestamp</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        <tr>
                            <th class="align-middle" scope="row">{{ transaction.id }}</th>
                            <td class="align-middle">{{ transaction.source }}</td>
                            <td class="align-middle">{{ transaction.destination }}</td>
                            <td class="align-middle">{{ transaction.amount }}</td>
                            <td class="align-middle">{{ transaction.timestamp|date('d-m-Y') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <style>
        div.form-check {
            height: calc(2.25rem + 2px);;
        }

        input[type=radio] {
            transform: scale(1.3);
        }

        .col-md-4 .form-content {
            border: cadetblue 2px solid;
            border-radius: 5px;
            padding: 5px 5px 5px 5px;
        }
    </style>
{% endblock %}